In [4]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
%matplotlib inline 
import seaborn as sns 
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

In [5]:
movies = pd.read_csv('netflix_titles-2.csv')
movies.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...

In [6]:
len(movies)

7787

In [41]:
movies.drop_duplicates(inplace=True)

In [42]:
len(movies) # Tells me there are no duplicate rows. Great!

7787

### Total missing values from every column

In [10]:
movies.isnull().sum()

show_id            0
type               0
title              0
director        2389
cast             718
country          507
date_added        10
release_year       0
rating             7
duration           0
listed_in          0
description        0
dtype: int64

#### What kind of data is really missing? 

- US & UK shows have the maximum empty rows for directors 
- Missing data is distributed among both TV shows and Movies but more number of TV shows do not have a director listed in the data than in the movies. 
        - However, if you think about it - there could be more number of TV shows in the data than there are movies. So, let's take a % of missing data per total TV shows. 
        - After looking at all data, it turns out TV shows have more missing director data than Movies.

In [22]:
df = pd.pivot_table(data=movies[movies['director'].isnull()==True], index='country',  values= 'show_id', aggfunc='count')

In [23]:
df.sort_values(by="show_id", ascending=False)

                                                    show_id
country
United States                                           717
United Kingdom                                          196
Japan                                                   148
South Korea                                             139
India                                                    75
Taiwan                                                   63
Canada                                                   62
Australia                                                45
France                                                   42
Spain                                                    37
China                                                    35
Mexico                                                   34
Turkey                                                   24
Brazil                                                   23
Germany                                                  21
United States, Canada                                    21
Colombia                                                 20
Thailand                                                 19
Singapore                                                17
Russia                                                   14
United Kingdom, United States                            14
Egypt                                                    14
Argentina                                                14
Canada, United States                                    13
Italy                                                    11
United States, Japan                                      9
Israel                                                    7
Sweden                                                    7
United States, United Kingdom                             7
Denmark                                                   6
Mexico, United States                                     6
Lebanon                                                   6
Belgium                                                   6
Nigeria                                                   5
South Africa                                              5
Ireland                                                   5
United States, France, Japan                              5
Malaysia                                                  5
Norway                                                    5
Netherlands                                               4
Hong Kong                                                 4
Poland                                                    4
South Korea, United States                                3
France, Belgium                                           3
United States, New Zealand                                3
United Kingdom, United States, Spain, Germany, ...        3
Australia, United States                                  3
United States, Mexico                                     3
Japan, United States                                      3
United States, Czech Republic                             3
United States, France                                     3
Chile                                                     3
Pakistan                                                  3
United Kingdom, Canada                                    2
United Kingdom, Canada, United States                     2
Ukraine                                                   2
Kuwait                                                    2
Iceland                                                   2
Indonesia                                                 2
United States, South Korea, China                         2
France, United States                                     2
Argentina, Spain                                          2
New Zealand                                               2
Denmark, United States                                    2
Poland, United States                                     2
Canada, United States, France                             2
United States, Japan, Canada                              2
Saudi Arabia                                              2
Canada, Australia                                         2
Turkey, Azerbaijan                                        1
Switzerland                                               1
United Arab Emirates                                      1
Spain, United Kingdom                                     1
Spain, Italy                                              1
Spain, Cuba                                               1
Taiwan, China                                             1
United Kingdom, Spain                                     1
United Kingdom, Australia                                 1
United States, Mexico, Colombia                           1
United States, France, South Korea, Indonesia             1
United States, Germany                                    1
United States, Hungary, Ireland, Canada                   1
United States, India                                      1
United States, Ireland, United Kingdom, India             1
United States, Italy                                      1
United States, Mexico, Spain, Malta                       1
United Kingdom, China                                     1
United States, Netherlands, Japan, France                 1
United States, New Zealand, Japan                         1
United States, Poland                                     1
United States, Russia                                     1
United States, Sweden                                     1
United States, United Kingdom, Australia                  1
United States, France, Canada                             1
United States, Colombia, Mexico                           1
United States, Colombia                                   1
United States, Chile                                      1
United States, Brazil, South Korea, Mexico, Jap...        1
United States, Argentina                                  1
United Kingdom, West Germany                              1
United Kingdom, United States, Czech Republic             1
South Korea, China                                        1
United Kingdom, South Africa, Australia, United...        1
United Kingdom, Singapore                                 1
United Kingdom, Ireland                                   1
United Kingdom, Hong Kong                                 1
United Kingdom, Germany                                   1
United Kingdom, France, Germany, Spain                    1
United Kingdom, France                                    1
United Kingdom, Finland, Germany                          1
South Korea, France                                       1
Netherlands, Germany, Italy, Canada                       1
South Korea, Canada, United States, China                 1
France, Germany                                           1
France, Australia, Germany                                1
Finland, Germany                                          1
Finland, France                                           1
Finland                                                   1
Denmark, Singapore, Canada, United States                 1
Denmark, China                                            1
Czech Republic, United States                             1
Cyprus                                                    1
Croatia                                                   1
Colombia, United States                                   1
Colombia, Mexico, United States                           1
China, United Kingdom                                     1
China, Hong Kong                                          1
Chile, Italy                                              1
Canada, United States, United Kingdom, France, ...        1
Canada, United States, Ireland                            1
Canada, United Kingdom                                    1
Canada, Japan, Netherlands                                1
Canada, Germany, South Africa                             1
Canada, France                                            1
Canada, Brazil                                            1
Brazil, United Kingdom                                    1
Belgium, Netherlands                                      1
Belarus                                                   1
Austria, Germany                                          1
Australia, New Zealand, United States                     1
Australia, New Zealand                                    1
Australia, Canada                                         1
Argentina, United States, Mexico                          1
France, Canada                                            1
France, Japan, United States                              1
Singapore, United States                                  1
France, United Kingdom                                    1
Senegal                                                   1
Saudi Arabia, Syria, Egypt, Lebanon, Kuwait               1
Russia, Spain                                             1
Puerto Rico, United States, Colombia                      1
Philippines                                               1
Norway, United States                                     1
Norway, Sweden                                            1
Norway, Germany, Sweden                                   1
Norway, Denmark                                           1
Mexico, United States, Spain, Colombia                    1
Mauritius, South Africa                                   1
Malaysia, Singapore, Hong Kong                            1
Lebanon, Canada, France                                   1
Jordan                                                    1
Japan, Canada, United States                              1
Japan, Canada                                             1
Italy, United Kingdom, France                             1
Italy, South Africa, West Germany, Australia, U...        1
Italy, Germany                                            1
Ireland, United Kingdom, United States                    1
Ireland, Canada, United States, United Kingdom            1
India, Germany, France                                    1
Germany, United States, Italy                             1
Germany, United States                                    1
Germany, France, Russia                                   1
Germany, Czech Republic                                   1
Germany, Australia, France, China                         1
France, United States, Canada                             1
France, United Kingdom, United States                     1
Uruguay, Germany                                          1

In [26]:
df = pd.pivot_table(data=movies[movies['director'].isnull()==True], index='country', columns='type',  values= 'show_id', aggfunc='count')

In [28]:
df

type                                                Movie  TV Show
country
Argentina                                             NaN     14.0
Argentina, Spain                                      1.0      1.0
Argentina, United States, Mexico                      NaN      1.0
Australia                                             NaN     45.0
Australia, Canada                                     NaN      1.0
Australia, New Zealand                                NaN      1.0
Australia, New Zealand, United States                 NaN      1.0
Australia, United States                              NaN      3.0
Austria, Germany                                      NaN      1.0
Belarus                                               NaN      1.0
Belgium                                               NaN      6.0
Belgium, Netherlands                                  NaN      1.0
Brazil                                                3.0     20.0
Brazil, United Kingdom                                NaN      1.0
Canada                                                6.0     56.0
Canada, Australia                                     NaN      2.0
Canada, Brazil                                        NaN      1.0
Canada, France                                        NaN      1.0
Canada, Germany, South Africa                         NaN      1.0
Canada, Japan, Netherlands                            NaN      1.0
Canada, United Kingdom                                NaN      1.0
Canada, United States                                 NaN     13.0
Canada, United States, France                         NaN      2.0
Canada, United States, Ireland                        NaN      1.0
Canada, United States, United Kingdom, France, ...    NaN      1.0
Chile                                                 NaN      3.0
Chile, Italy                                          NaN      1.0
China                                                 1.0     34.0
China, Hong Kong                                      NaN      1.0
China, United Kingdom                                 NaN      1.0
Colombia                                              2.0     18.0
Colombia, Mexico, United States                       NaN      1.0
Colombia, United States                               NaN      1.0
Croatia                                               NaN      1.0
Cyprus                                                NaN      1.0
Czech Republic, United States                         NaN      1.0
Denmark                                               NaN      6.0
Denmark, China                                        1.0      NaN
Denmark, Singapore, Canada, United States             NaN      1.0
Denmark, United States                                NaN      2.0
Egypt                                                 2.0     12.0
Finland                                               NaN      1.0
Finland, France                                       NaN      1.0
Finland, Germany                                      NaN      1.0
France                                                NaN     42.0
France, Australia, Germany                            NaN      1.0
France, Belgium                                       NaN      3.0
France, Canada                                        NaN      1.0
France, Germany                                       NaN      1.0
France, Japan, United States                          NaN      1.0
France, United Kingdom                                NaN      1.0
France, United Kingdom, United States                 NaN      1.0
France, United States                                 NaN      2.0
France, United States, Canada                         NaN      1.0
Germany                                               2.0     19.0
Germany, Australia, France, China                     NaN      1.0
Germany, Czech Republic                               NaN      1.0
Germany, France, Russia                               NaN      1.0
Germany, United States                                NaN      1.0
Germany, United States, Italy                         NaN      1.0
Hong Kong                                             1.0      3.0
Iceland                                               NaN      2.0
India                                                12.0     63.0
India, Germany, France                                NaN      1.0
Indonesia                                             NaN      2.0
Ireland                                               1.0      4.0
Ireland, Canada, United States, United Kingdom        NaN      1.0
Ireland, United Kingdom, United States                NaN      1.0
Israel                                                NaN      7.0
Italy                                                 2.0      9.0
Italy, Germany                                        NaN      1.0
Italy, South Africa, West Germany, Australia, U...    NaN      1.0
Italy, United Kingdom, France                         NaN      1.0
Japan                                                 1.0    147.0
Japan, Canada                                         NaN      1.0
Japan, Canada, United States                          NaN      1.0
Japan, United States                                  NaN      3.0
Jordan                                                NaN      1.0
Kuwait                                                NaN      2.0
Lebanon                                               NaN      6.0
Lebanon, Canada, France                               1.0      NaN
Malaysia                                              NaN      5.0
Malaysia, Singapore, Hong Kong                        NaN      1.0
Mauritius, South Africa                               NaN      1.0
Mexico                                                1.0     33.0
Mexico, United States                                 NaN      6.0
Mexico, United States, Spain, Colombia                NaN      1.0
Netherlands                                           NaN      4.0
Netherlands, Germany, Italy, Canada                   NaN      1.0
New Zealand                                           NaN      2.0
Nigeria                                               NaN      5.0
Norway                                                NaN      5.0
Norway, Denmark                                       NaN      1.0
Norway, Germany, Sweden                               NaN      1.0
Norway, Sweden                                        NaN      1.0
Norway, United States                                 NaN      1.0
Pakistan                                              NaN      3.0
Philippines                                           NaN      1.0
Poland                                                NaN      4.0
Poland, United States                                 NaN      2.0
Puerto Rico, United States, Colombia                  NaN      1.0
Russia                                                NaN     14.0
Russia, Spain                                         1.0      NaN
Saudi Arabia                                          NaN      2.0
Saudi Arabia, Syria, Egypt, Lebanon, Kuwait           NaN      1.0
Senegal                                               NaN      1.0
Singapore                                             NaN     17.0
Singapore, United States                              NaN      1.0
South Africa                                          NaN      5.0
South Korea                                           2.0    137.0
South Korea, Canada, United States, China             NaN      1.0
South Korea, China                                    NaN      1.0
South Korea, France                                   NaN      1.0
South Korea, United States                            1.0      2.0
Spain                                                 2.0     35.0
Spain, Cuba                                           NaN      1.0
Spain, Italy                                          NaN      1.0
Spain, United Kingdom                                 NaN      1.0
Sweden                                                NaN      7.0
Switzerland                                           NaN      1.0
Taiwan                                                1.0     62.0
Taiwan, China                                         NaN      1.0
Thailand                                              NaN     19.0
Turkey                                                2.0     22.0
Turkey, Azerbaijan                                    NaN      1.0
Ukraine                                               NaN      2.0
United Arab Emirates                                  NaN      1.0
United Kingdom                                       13.0    183.0
United Kingdom, Australia                             NaN      1.0
United Kingdom, Canada                                NaN      2.0
United Kingdom, Canada, United States                 NaN      2.0
United Kingdom, China                                 NaN      1.0
United Kingdom, Finland, Germany                      NaN      1.0
United Kingdom, France                                NaN      1.0
United Kingdom, France, Germany, Spain                NaN      1.0
United Kingdom, Germany                               NaN      1.0
United Kingdom, Hong Kong                             1.0      NaN
United Kingdom, Ireland                               NaN      1.0
United Kingdom, Singapore                             NaN      1.0
United Kingdom, South Africa, Australia, United...    NaN      1.0
United Kingdom, Spain                                 NaN      1.0
United Kingdom, United States                         3.0     11.0
United Kingdom, United States, Czech Republic         NaN      1.0
United Kingdom, United States, Spain, Germany, ...    2.0      1.0
United Kingdom, West Germany                          NaN      1.0
United States                                        54.0    663.0
United States, Argentina                              1.0      NaN
United States, Brazil, South Korea, Mexico, Jap...    NaN      1.0
United States, Canada                                 1.0     20.0
United States, Chile                                  NaN      1.0
United States, Colombia                               NaN      1.0
United States, Colombia, Mexico                       NaN      1.0
United States, Czech Republic                         NaN      3.0
United States, France                                 NaN      3.0
United States, France, Canada                         NaN      1.0
United States, France, Japan                          NaN      5.0
United States, France, South Korea, Indonesia         NaN      1.0
United States, Germany                                1.0      NaN
United States, Hungary, Ireland, Canada               NaN      1.0
United States, India                                  NaN      1.0
United States, Ireland, United Kingdom, India         NaN      1.0
United States, Italy                                  NaN      1.0
United States, Japan                                  NaN      9.0
United States, Japan, Canada                          NaN      2.0
United States, Mexico                                 1.0      2.0
United States, Mexico, Colombia                       NaN      1.0
United States, Mexico, Spain, Malta                   NaN      1.0
United States, Netherlands, Japan, France             NaN      1.0
United States, New Zealand                            NaN      3.0
United States, New Zealand, Japan                     NaN      1.0
United States, Poland                                 NaN      1.0
United States, Russia                                 NaN      1.0
United States, South Korea, China                     NaN      2.0
United States, Sweden                                 NaN      1.0
United States, United Kingdom                         NaN      7.0
United States, United Kingdom, Australia              NaN      1.0
Uruguay, Germany                                      NaN      1.0

In [30]:
df.sort_values(by="TV Show", ascending=False)

type                                                Movie  TV Show
country
United States                                        54.0    663.0
United Kingdom                                       13.0    183.0
Japan                                                 1.0    147.0
South Korea                                           2.0    137.0
India                                                12.0     63.0
Taiwan                                                1.0     62.0
Canada                                                6.0     56.0
Australia                                             NaN     45.0
France                                                NaN     42.0
Spain                                                 2.0     35.0
China                                                 1.0     34.0
Mexico                                                1.0     33.0
Turkey                                                2.0     22.0
Brazil                                                3.0     20.0
United States, Canada                                 1.0     20.0
Thailand                                              NaN     19.0
Germany                                               2.0     19.0
Colombia                                              2.0     18.0
Singapore                                             NaN     17.0
Russia                                                NaN     14.0
Argentina                                             NaN     14.0
Canada, United States                                 NaN     13.0
Egypt                                                 2.0     12.0
United Kingdom, United States                         3.0     11.0
Italy                                                 2.0      9.0
United States, Japan                                  NaN      9.0
United States, United Kingdom                         NaN      7.0
Sweden                                                NaN      7.0
Israel                                                NaN      7.0
Denmark                                               NaN      6.0
Lebanon                                               NaN      6.0
Belgium                                               NaN      6.0
Mexico, United States                                 NaN      6.0
Norway                                                NaN      5.0
United States, France, Japan                          NaN      5.0
South Africa                                          NaN      5.0
Malaysia                                              NaN      5.0
Nigeria                                               NaN      5.0
Ireland                                               1.0      4.0
Poland                                                NaN      4.0
Netherlands                                           NaN      4.0
Pakistan                                              NaN      3.0
Australia, United States                              NaN      3.0
Japan, United States                                  NaN      3.0
United States, New Zealand                            NaN      3.0
Chile                                                 NaN      3.0
France, Belgium                                       NaN      3.0
United States, France                                 NaN      3.0
United States, Czech Republic                         NaN      3.0
Hong Kong                                             1.0      3.0
United Kingdom, Canada, United States                 NaN      2.0
Poland, United States                                 NaN      2.0
United Kingdom, Canada                                NaN      2.0
United States, Japan, Canada                          NaN      2.0
Canada, United States, France                         NaN      2.0
Saudi Arabia                                          NaN      2.0
Indonesia                                             NaN      2.0
Iceland                                               NaN      2.0
Kuwait                                                NaN      2.0
Ukraine                                               NaN      2.0
Denmark, United States                                NaN      2.0
France, United States                                 NaN      2.0
New Zealand                                           NaN      2.0
United States, South Korea, China                     NaN      2.0
Canada, Australia                                     NaN      2.0
South Korea, United States                            1.0      2.0
United States, Mexico                                 1.0      2.0
United Kingdom, Finland, Germany                      NaN      1.0
United Kingdom, Germany                               NaN      1.0
United Kingdom, France, Germany, Spain                NaN      1.0
United Kingdom, Ireland                               NaN      1.0
United Kingdom, France                                NaN      1.0
United Kingdom, Singapore                             NaN      1.0
United Kingdom, Australia                             NaN      1.0
United Kingdom, China                                 NaN      1.0
United Kingdom, Spain                                 NaN      1.0
Belarus                                               NaN      1.0
United Arab Emirates                                  NaN      1.0
Turkey, Azerbaijan                                    NaN      1.0
Belgium, Netherlands                                  NaN      1.0
Brazil, United Kingdom                                NaN      1.0
Taiwan, China                                         NaN      1.0
Switzerland                                           NaN      1.0
United Kingdom, South Africa, Australia, United...    NaN      1.0
Finland, France                                       NaN      1.0
Austria, Germany                                      NaN      1.0
United Kingdom, United States, Czech Republic         NaN      1.0
United States, United Kingdom, Australia              NaN      1.0
Argentina, United States, Mexico                      NaN      1.0
United States, Sweden                                 NaN      1.0
United States, Russia                                 NaN      1.0
United States, Poland                                 NaN      1.0
United States, New Zealand, Japan                     NaN      1.0
United States, Netherlands, Japan, France             NaN      1.0
United States, Mexico, Spain, Malta                   NaN      1.0
United States, Mexico, Colombia                       NaN      1.0
Australia, Canada                                     NaN      1.0
United States, Italy                                  NaN      1.0
United States, Ireland, United Kingdom, India         NaN      1.0
United States, India                                  NaN      1.0
United States, Hungary, Ireland, Canada               NaN      1.0
United States, France, South Korea, Indonesia         NaN      1.0
Australia, New Zealand                                NaN      1.0
United States, France, Canada                         NaN      1.0
United States, Colombia, Mexico                       NaN      1.0
United States, Colombia                               NaN      1.0
United States, Chile                                  NaN      1.0
Australia, New Zealand, United States                 NaN      1.0
Spain, United Kingdom                                 NaN      1.0
United States, Brazil, South Korea, Mexico, Jap...    NaN      1.0
United Kingdom, West Germany                          NaN      1.0
United Kingdom, United States, Spain, Germany, ...    2.0      1.0
Canada, Brazil                                        NaN      1.0
Canada, Germany, South Africa                         NaN      1.0
Spain, Italy                                          NaN      1.0
Jordan                                                NaN      1.0
Japan, Canada                                         NaN      1.0
Colombia, United States                               NaN      1.0
Italy, United Kingdom, France                         NaN      1.0
Italy, South Africa, West Germany, Australia, U...    NaN      1.0
Italy, Germany                                        NaN      1.0
Croatia                                               NaN      1.0
Cyprus                                                NaN      1.0
Ireland, United Kingdom, United States                NaN      1.0
Ireland, Canada, United States, United Kingdom        NaN      1.0
Czech Republic, United States                         NaN      1.0
India, Germany, France                                NaN      1.0
Denmark, Singapore, Canada, United States             NaN      1.0
Germany, United States, Italy                         NaN      1.0
Germany, United States                                NaN      1.0
Germany, France, Russia                               NaN      1.0
Germany, Czech Republic                               NaN      1.0
Germany, Australia, France, China                     NaN      1.0
France, United States, Canada                         NaN      1.0
France, United Kingdom, United States                 NaN      1.0
France, United Kingdom                                NaN      1.0
France, Japan, United States                          NaN      1.0
France, Germany                                       NaN      1.0
France, Canada                                        NaN      1.0
France, Australia, Germany                            NaN      1.0
Finland                                               NaN      1.0
Japan, Canada, United States                          NaN      1.0
Colombia, Mexico, United States                       NaN      1.0
Spain, Cuba                                           NaN      1.0
China, United Kingdom                                 NaN      1.0
Canada, France                                        NaN      1.0
South Korea, France                                   NaN      1.0
South Korea, China                                    NaN      1.0
South Korea, Canada, United States, China             NaN      1.0
Finland, Germany                                      NaN      1.0
Canada, Japan, Netherlands                            NaN      1.0
Singapore, United States                              NaN      1.0
Canada, United Kingdom                                NaN      1.0
Senegal                                               NaN      1.0
Saudi Arabia, Syria, Egypt, Lebanon, Kuwait           NaN      1.0
Puerto Rico, United States, Colombia                  NaN      1.0
Canada, United States, Ireland                        NaN      1.0
Philippines                                           NaN      1.0
Norway, United States                                 NaN      1.0
Norway, Sweden                                        NaN      1.0
Norway, Germany, Sweden                               NaN      1.0
Norway, Denmark                                       NaN      1.0
Canada, United States, United Kingdom, France, ...    NaN      1.0
Netherlands, Germany, Italy, Canada                   NaN      1.0
Argentina, Spain                                      1.0      1.0
Mexico, United States, Spain, Colombia                NaN      1.0
Chile, Italy                                          NaN      1.0
China, Hong Kong                                      NaN      1.0
Mauritius, South Africa                               NaN      1.0
Malaysia, Singapore, Hong Kong                        NaN      1.0
Uruguay, Germany                                      NaN      1.0
Denmark, China                                        1.0      NaN
Lebanon, Canada, France                               1.0      NaN
Russia, Spain                                         1.0      NaN
United Kingdom, Hong Kong                             1.0      NaN
United States, Argentina                              1.0      NaN
United States, Germany                                1.0      NaN

In [31]:
# Reflects only missing data values 
pd.pivot_table(data=movies[movies['director'].isnull()==True],  columns='type',  values= 'show_id', aggfunc='count')

type     Movie  TV Show
show_id    163     2226

In [33]:
# Reflects data with NO missing director field. 
pd.pivot_table(data=movies[movies['director'].isnull()==False],  columns='type',  values= 'show_id', aggfunc='count')

type     Movie  TV Show
show_id   5214      184

In [24]:
df = pd.pivot_table(data=movies[movies['cast'].isnull()==True], index='country',  values= 'show_id', aggfunc='count')

In [25]:
df.sort_values(by="show_id", ascending=False)

                                                    show_id
country
United States                                           304
United Kingdom                                           65
India                                                    29
Canada                                                   18
Spain                                                    17
France                                                   16
Australia                                                 9
Brazil                                                    9
Mexico                                                    8
Germany                                                   6
United States, Mexico                                     5
Japan                                                     4
Argentina                                                 4
Sweden, United States                                     3
United States, Czech Republic                             3
United Kingdom, United States                             3
Canada, United States                                     3
South Korea                                               3
Israel                                                    3
Italy                                                     3
Norway                                                    2
Russia                                                    2
Australia, United States                                  2
United States, United Kingdom                             2
New Zealand                                               2
Colombia                                                  2
Malaysia                                                  2
South Africa                                              2
Thailand, United States                                   1
Spain, France, Canada, United States                      1
Thailand                                                  1
United Kingdom,                                           1
United Kingdom, Israel, Russia                            1
United Kingdom, Belgium, Sweden                           1
United Kingdom, Canada, Japan                             1
United Kingdom, Canada, United States                     1
Romania, United Kingdom                                   1
Spain, Germany, Denmark, United States                    1
United Kingdom, India, United States                      1
United Arab Emirates                                      1
United States,                                            1
United Kingdom, Namibia, South Africa, Zimbabwe...        1
United Kingdom, Ukraine, United States                    1
Venezuela, Colombia                                       1
Uruguay, Germany                                          1
Uruguay                                                   1
United States, Venezuela                                  1
United States, Uruguay                                    1
United States, United Kingdom, Germany                    1
United States, Spain                                      1
United States, Senegal                                    1
United States, Russia                                     1
United States, Kazakhstan                                 1
United States, Italy                                      1
United States, India                                      1
United States, Germany                                    1
United States, France                                     1
United States, Denmark                                    1
United States, Canada                                     1
United States, Brazil, India, Uganda, China               1
United States, Botswana                                   1
United States, Australia, Samoa, United Kingdom           1
United States, Australia, China                           1
United States, Argentina                                  1
Poland                                                    1
United Kingdom, United States, Czech Republic             1
Poland, United States                                     1
Netherlands, Belgium                                      1
Peru, United States, United Kingdom                       1
Chile, Italy                                              1
Finland, Germany, Belgium                                 1
Egypt                                                     1
Denmark, Zimbabwe                                         1
Denmark, United States                                    1
Denmark, Spain                                            1
Denmark, Indonesia, Finland, Norway, United Kin...        1
Denmark, China                                            1
Czech Republic, France                                    1
China, South Korea, United States                         1
China, Germany, India, United States                      1
Canada, United States, United Kingdom                     1
France, Netherlands, South Africa, Finland                1
Canada, United Kingdom, Netherlands                       1
Canada, India, Thailand, United States, United ...        1
Canada, France, Italy, Morocco, United States             1
Brazil, United States                                     1
Belgium                                                   1
Austria, Iraq, United States                              1
Austria                                                   1
Australia, United Kingdom, United States, New Z...        1
Australia, Armenia, Japan, Jordan, Mexico, Mong...        1
Argentina, Spain                                          1
France, Germany                                           1
France, New Zealand                                       1
Peru                                                      1
Italy, United States                                      1
Pakistan, United States                                   1
Nigeria                                                   1
Netherlands, United States                                1
Netherlands, Denmark, France, Germany                     1
Argentina, Italy                                          1
Netherlands                                               1
Mexico, United States                                     1
Lebanon, Canada, France                                   1
Japan, United States                                      1
Italy, United States, Argentina                           1
Italy, India                                              1
France, United Kingdom, United States                     1
Italy, France                                             1
Ireland, United Kingdom, Italy, United States             1
Ireland, United Kingdom                                   1
Ireland                                                   1
Indonesia                                                 1
Greece, United States                                     1
Germany, United States, Sweden                            1
Germany, Italy                                            1
Germany, France, Russia                                   1
Georgia                                                   1
West Germany                                              1

In [37]:
movies['release_year'].sort_values(ascending=True)

4867    1925
6117    1942
4960    1942
7679    1943
7342    1943
7616    1943
7268    1944
6699    1944
6657    1944
5371    1945
3425    1945
4436    1945
3608    1946
4866    1946
7072    1947
7595    1954
6141    1954
6868    1955
5425    1955
5122    1955
1620    1956
2233    1956
1241    1958
2410    1958
1169    1958
7302    1959
3187    1960
4563    1960
5624    1960
1152    1960
4300    1962
3707    1962
4981    1962
5351    1963
6953    1963
5376    1964
6221    1965
1793    1965
480     1966
7538    1967
6082    1967
1041    1967
1497    1967
7609    1967
1344    1968
5285    1968
6793    1968
4635    1968
5785    1968
4970    1969
7242    1969
6255    1970
6544    1970
1970    1971
7628    1971
165     1971
3525    1971
2152    1971
770     1972
5907    1972
4216    1972
3442    1972
4008    1973
7737    1973
6850    1973
1283    1973
1414    1973
1016    1973
3176    1973
3131    1973
2013    1973
3358    1973
6613    1974
4217    1974
392     1974
2953    1974
3915    1974
5081    1974
6923    1974
6363    1975
5350    1975
4207    1975
822     1975
2827    1975
1385    1975
3704    1976
7008    1976
5244    1976
1226    1976
5738    1976
5176    1976
1259    1976
2703    1976
5994    1976
2757    1977
1577    1977
6198    1977
153     1977
2228    1977
5933    1977
446     1977
836     1978
6893    1978
6357    1978
2212    1978
2522    1978
717     1978
5246    1979
2463    1979
5200    1979
6419    1979
4218    1979
381     1979
3837    1979
1949    1979
4490    1979
7495    1979
3823    1979
4882    1980
5063    1980
3361    1980
2290    1980
7593    1980
391     1980
5947    1980
5177    1980
4909    1980
3276    1981
6337    1981
7635    1981
6642    1981
2992    1981
4478    1981
3868    1981
1156    1981
5848    1981
6605    1982
4213    1982
3317    1982
6626    1982
6266    1982
5405    1982
4395    1982
5326    1982
5247    1982
1777    1982
3694    1982
490     1982
2197    1982
773     1982
3574    1982
3658    1983
4617    1983
3900    1983
1937    1983
1918    1983
7516    1983
5336    1983
3983    1983
6186    1983
5134    1984
4675    1984
5108    1984
6698    1984
5693    1984
1895    1984
4259    1984
4971    1984
2993    1984
2028    1985
4014    1985
5089    1985
7029    1985
1775    1985
7222    1985
5421    1985
5238    1985
5248    1985
308     1986
2622    1986
4879    1986
5536    1986
3091    1986
3953    1986
485     1986
5344    1986
2150    1986
5018    1986
2589    1987
3487    1987
3840    1987
4284    1987
5357    1987
1919    1987
5832    1987
3387    1988
4812    1988
7149    1988
7034    1988
4003    1988
2730    1988
4372    1988
2739    1988
5432    1988
5070    1988
6697    1988
232     1988
5041    1988
4743    1988
1331    1988
267     1988
2991    1989
6914    1989
3665    1989
1575    1989
4274    1989
6845    1989
382     1989
408     1989
923     1989
4781    1989
105     1989
1835    1989
3875    1989
5249    1990
7362    1990
343     1990
7162    1990
6015    1990
2393    1990
2025    1990
3654    1990
3334    1990
7089    1990
5042    1990
4776    1990
1756    1990
2962    1990
7207    1990
7280    1990
5570    1990
4811    1990
3717    1990
2493    1990
1012    1991
4320    1991
5564    1991
1628    1991
7090    1991
5358    1991
        ...
2886    2020
2844    2020
2843    2020
6970    2020
2751    2020
2770    2020
2771    2020
2777    2020
2785    2020
2786    2020
2791    2020
2800    2020
2803    2020
6979    2020
2809    2020
2812    2020
2813    2020
6975    2020
6973    2020
2509    2020
2939    2020
2508    2020
2461    2020
2141    2020
2142    2020
2145    2020
2153    2020
7157    2020
2168    2020
2139    2020
2169    2020
7148    2020
2209    2020
2215    2020
7145    2020
2236    2020
2246    2020
2203    2020
2247    2020
2138    2020
2134    2020
7191    2020
7190    2020
2071    2020
2072    2020
2083    2020
2087    2020
2136    2020
7177    2020
2106    2020
2117    2020
2120    2020
2122    2020
2123    2020
2132    2020
2105    2020
7137    2020
7136    2020
2261    2020
2400    2020
7096    2020
2405    2020
2414    2020
2418    2020
2424    2020
2395    2020
7084    2020
2434    2020
2437    2020
2441    2020
2445    2020
2446    2020
2447    2020
7083    2020
2385    2020
2381    2020
2377    2020
2267    2020
2284    2020
2306    2020
2307    2020
2310    2020
2311    2020
2317    2020
7118    2020
2320    2020
2340    2020
7112    2020
2347    2020
7107    2020
7105    2020
2375    2020
2486    2020
2952    2020
2904    2020
2971    2020
3741    2020
6740    2020
3731    2020
3729    2020
3710    2020
3699    2020
3697    2020
6754    2020
3681    2020
3673    2020
3671    2020
3667    2020
6765    2020
6766    2020
3742    2020
6768    2020
3648    2020
3614    2020
3604    2020
3598    2020
6781    2020
6785    2020
3591    2020
6788    2020
3546    2020
3544    2020
6794    2020
6796    2020
3538    2020
6798    2020
6770    2020
3743    2020
6734    2020
3764    2020
3976    2020
3975    2020
6672    2020
3962    2020
3928    2020
3926    2020
3910    2020
3908    2020
3906    2020
3899    2020
3894    2020
3888    2020
3884    2020
3879    2020
3878    2020
3854    2020
6702    2020
3779    2020
3785    2020
6725    2020
3791    2020
3800    2020
6719    2020
6801    2020
6717    2020
3813    2020
3817    2020
6708    2020
3830    2020
3831    2020
6703    2020
3807    2020
3532    2020
0       2020
3189    2020
3081    2020
3275    2020
3247    2020
3083    2020
3246    2020
3238    2020
3226    2020
3211    2020
3088    2020
3204    2020
3502    2020
6873    2020
6901    2020
3182    2020
3173    2020
6879    2020
3090    2020
3154    2020
6883    2020
3143    2020
3101    2020
3125    2020
6891    2020
3102    2020
3119    2020
3111    2020
6853    2020
6908    2020
3301    2020
3500    2020
3496    2020
2989    2020
3488    2020
3453    2020
3441    2020
6927    2020
3439    2020
3416    2020
6824    2020
3414    2020
3067    2020
3002    2020
3407    2020
6916    2020
3395    2020
3033    2020
3035    2020
3386    2020
6834    2020
6849    2020
3406    2020
3347    2020
3304    2020
3339    2020
4965    2021
4086    2021
6670    2021
7644    2021
3018    2021
6701    2021
7220    2021
1780    2021
1528    2021
1355    2021
7569    2021
5103    2021
7551    2021
1440    2021
2672    2021
4710    2021
4390    2021
6477    2021
5921    2021
2741    2021
2327    2021
1864    2021
2753    2021
5859    2021
1222    2021
1514    2021
4173    2021
3822    2021
980     2021
1285    2021
4468    2021
Name: release_year, Length: 7787, dtype: int64

### What does release year look like?

- Movies data ranges from 1925 release year to 2021

In [38]:
movies['release_year'].min()

1925

In [39]:
movies['release_year'].max()

2021

In [40]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7787 entries, 0 to 7786
Data columns (total 12 columns):
show_id         7787 non-null object
type            7787 non-null object
title           7787 non-null object
director        5398 non-null object
cast            7069 non-null object
country         7280 non-null object
date_added      7777 non-null object
release_year    7787 non-null int64
rating          7780 non-null object
duration        7787 non-null object
listed_in       7787 non-null object
description     7787 non-null object
dtypes: int64(1), object(11)
memory usage: 730.1+ KB

### What numerical data do we have in this dataset?

In [44]:
movies.describe() # Just release year

       release_year
count   7787.000000
mean    2013.932580
std        8.757395
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2018.000000
max     2021.000000

In [45]:
movies.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."

- How about I create some columns for myself from this categorical data

In [47]:
movies['listed_in'].unique()

array(['International TV Shows, TV Dramas, TV Sci-Fi & Fantasy',
       'Dramas, International Movies',
       'Horror Movies, International Movies',
       'Action & Adventure, Independent Movies, Sci-Fi & Fantasy',
       'Dramas', 'International TV Shows, TV Dramas, TV Mysteries',
       'Horror Movies, International Movies, Thrillers',
       'Dramas, Thrillers',
       'Crime TV Shows, International TV Shows, TV Dramas',
       'Crime TV Shows, Docuseries, International TV Shows',
       'Documentaries, International Movies, Sports Movies',
       'Independent Movies, Sci-Fi & Fantasy, Thrillers',
       'Dramas, International Movies, Thrillers',
       'International TV Shows, TV Dramas',
       'Comedies, Dramas, Independent Movies', 'Sports Movies',
       'Dramas, Independent Movies, International Movies',
       'Action & Adventure, Dramas, International Movies',
       'Anime Series, International TV Shows', 'Documentaries',
       'Reality TV', 'Documentaries, International Movies', 'TV Comedies',
       'Dramas, International Movies, Romantic Movies', 'Comedies',
       'Comedies, Romantic Movies', 'Documentaries, Sports Movies',
       'Comedies, Dramas, International Movies',
       'International TV Shows, Romantic TV Shows, TV Comedies',
       'Comedies, International Movies',
       'Action & Adventure, Sci-Fi & Fantasy', 'Dramas, Romantic Movies',
       'Dramas, Romantic Movies, Sports Movies',
       'Comedies, International Movies, Romantic Movies',
       'Action & Adventure',
       'International TV Shows, Romantic TV Shows, TV Dramas',
       'Docuseries, Science & Nature TV',
       'Dramas, International Movies, Sports Movies', 'Movies',
       'British TV Shows, International TV Shows, Reality TV',
       'Dramas, Independent Movies, Sports Movies',
       'International TV Shows, Korean TV Shows, Romantic TV Shows',
       'Horror Movies, Independent Movies, Thrillers',
       'Crime TV Shows, TV Dramas, TV Mysteries',
       'Crime TV Shows, Docuseries', 'Horror Movies, Thrillers',
       'Action & Adventure, International Movies',
       'Horror Movies, Independent Movies',
       'Documentaries, Music & Musicals',
       'International Movies, Music & Musicals', 'Sci-Fi & Fantasy',
       'Dramas, Independent Movies', 'British TV Shows, Reality TV',
       'Action & Adventure, Comedies, International Movies',
       'Comedies, Dramas', 'Dramas, LGBTQ Movies',
       'Documentaries, Faith & Spirituality',
       'Action & Adventure, Comedies',
       "Kids' TV, TV Action & Adventure, TV Sci-Fi & Fantasy",
       'International Movies, Thrillers', "Kids' TV",
       'International TV Shows, Romantic TV Shows, Spanish-Language TV Shows',
       'Children & Family Movies, Comedies', 'Comedies, LGBTQ Movies',
       'Comedies, Dramas, Romantic Movies', 'Action & Adventure, Dramas',
       'Dramas, Independent Movies, Romantic Movies',
       'Comedies, Independent Movies, Thrillers', 'TV Shows', 'Docuseries',
       'Comedies, International Movies, Music & Musicals',
       'Docuseries, International TV Shows, Science & Nature TV',
       'British TV Shows, Docuseries, Science & Nature TV',
       'Children & Family Movies, Dramas, Sports Movies',
       'Children & Family Movies', 'Dramas, Sci-Fi & Fantasy',
       'International TV Shows, TV Comedies, TV Dramas',
       'Action & Adventure, Classic Movies, Dramas',
       'Children & Family Movies, Dramas',
       'Action & Adventure, International Movies, Romantic Movies',
       'Children & Family Movies, Dramas, Romantic Movies',
       'Children & Family Movies, Comedies, Music & Musicals',
       'Classic Movies, Cult Movies, Dramas',
       'Action & Adventure, International Movies, Sci-Fi & Fantasy',
       'Comedies, Independent Movies', 'Comedies, Horror Movies',
       'Children & Family Movies, Comedies, Romantic Movies',
       'International TV Shows, TV Dramas, TV Horror', 'Thrillers',
       'Stand-Up Comedy & Talk Shows, TV Comedies',
       'International TV Shows, Romantic TV Shows, Teen TV Shows',
       'Crime TV Shows, International TV Shows, Korean TV Shows',
       'Comedies, International Movies, Sports Movies',
       'Dramas, LGBTQ Movies, Romantic Movies', 'Comedies, Cult Movies',
       'Dramas, Independent Movies, LGBTQ Movies',
       'International TV Shows, Reality TV', 'Stand-Up Comedy',
       'Documentaries, LGBTQ Movies',
       "Kids' TV, TV Action & Adventure, TV Comedies",
       'Anime Features, International Movies',
       'Music & Musicals, Romantic Movies', 'Comedies, Music & Musicals',
       'International TV Shows, TV Comedies',
       'International Movies, Romantic Movies',
       'Anime Features, Children & Family Movies, International Movies',
       'British TV Shows, TV Comedies, TV Dramas', 'TV Dramas',
       'Horror Movies',
       'Action & Adventure, Children & Family Movies, Independent Movies',
       'Dramas, International Movies, Music & Musicals',
       'Comedies, International Movies, Sci-Fi & Fantasy',
       'International TV Shows, Korean TV Shows, Stand-Up Comedy & Talk Shows',
       'Docuseries, Science & Nature TV, TV Comedies',
       'Dramas, Sports Movies',
       'Dramas, Music & Musicals, Romantic Movies',
       'Children & Family Movies, Comedies, International Movies',
       'Action & Adventure, Documentaries, International Movies',
       'Comedies, International Movies, Thrillers',
       'Action & Adventure, Dramas, Romantic Movies',
       'Horror Movies, Independent Movies, International Movies',
       'Dramas, Independent Movies, Sci-Fi & Fantasy',
       'International Movies, Sci-Fi & Fantasy',
       'Docuseries, Reality TV, Science & Nature TV',
       'British TV Shows, Docuseries, International TV Shows',
       'Docuseries, International TV Shows',
       'British TV Shows, International TV Shows, TV Comedies',
       'Action & Adventure, Horror Movies',
       'British TV Shows, Reality TV, Romantic TV Shows',
       'Crime TV Shows, International TV Shows, TV Action & Adventure',
       'International TV Shows, Reality TV, Romantic TV Shows',
       'International Movies, Music & Musicals, Romantic Movies',
       'TV Comedies, TV Dramas',
       'Anime Series, Crime TV Shows, International TV Shows',
       "Kids' TV, TV Comedies, TV Dramas",
       'Action & Adventure, Comedies, Dramas',
       'Documentaries, International Movies, Music & Musicals',
       "Kids' TV, TV Comedies",
       'Classic Movies, Dramas, International Movies',
       'Comedies, Independent Movies, International Movies',
       'Classic Movies, Comedies, Dramas',
       'International TV Shows, TV Action & Adventure, TV Mysteries',
       'Comedies, International Movies, LGBTQ Movies',
       'Children & Family Movies, Comedies, Sci-Fi & Fantasy',
       'TV Dramas, Teen TV Shows',
       'Children & Family Movies, Independent Movies',
       'International TV Shows, Spanish-Language TV Shows, TV Comedies',
       'Crime TV Shows, TV Action & Adventure, TV Dramas',
       'Action & Adventure, Anime Features, International Movies',
       'Action & Adventure, Classic Movies, Comedies',
       'Crime TV Shows, TV Dramas',
       'TV Horror, TV Mysteries, TV Thrillers', 'TV Dramas, TV Thrillers',
       'Comedies, Cult Movies, Dramas',
       'Crime TV Shows, TV Comedies, Teen TV Shows',
       'Dramas, Faith & Spirituality', 'Comedies, Dramas, LGBTQ Movies',
       'Action & Adventure, Comedies, Cult Movies',
       'International TV Shows, TV Action & Adventure, TV Comedies',
       'Dramas, Independent Movies, Music & Musicals',
       'International TV Shows, TV Horror, TV Thrillers',
       'International TV Shows, TV Horror, TV Mysteries',
       'International TV Shows, TV Dramas, Teen TV Shows',
       'Anime Series, International TV Shows, Teen TV Shows',
       'Dramas, Sci-Fi & Fantasy, Thrillers',
       'TV Action & Adventure, TV Dramas, TV Mysteries',
       'Crime TV Shows, International TV Shows, TV Comedies',
       'Action & Adventure, Comedies, Sci-Fi & Fantasy',
       "Anime Series, Kids' TV",
       'Crime TV Shows, International TV Shows, Spanish-Language TV Shows',
       'Horror Movies, Sci-Fi & Fantasy, Thrillers',
       'International TV Shows, Korean TV Shows, TV Dramas',
       'Stand-Up Comedy & Talk Shows',
       'International Movies, Sci-Fi & Fantasy, Thrillers',
       'Crime TV Shows, TV Action & Adventure',
       'International TV Shows, Korean TV Shows, TV Action & Adventure',
       'TV Action & Adventure, TV Comedies, TV Horror',
       'International TV Shows, Romantic TV Shows',
       "Crime TV Shows, Kids' TV, TV Comedies",
       'TV Comedies, TV Dramas, Teen TV Shows',
       'Docuseries, International TV Shows, Reality TV',
       "Classic & Cult TV, Kids' TV, TV Action & Adventure",
       'Horror Movies, Sci-Fi & Fantasy',
       'Romantic TV Shows, TV Dramas, TV Sci-Fi & Fantasy',
       'Dramas, International Movies, Sci-Fi & Fantasy',
       'Children & Family Movies, Sports Movies',
       'Dramas, Independent Movies, Thrillers',
       'Independent Movies, International Movies, Thrillers',
       'British TV Shows, TV Comedies',
       'International TV Shows, Spanish-Language TV Shows, TV Dramas',
       'Action & Adventure, Comedies, Independent Movies',
       'International TV Shows, TV Action & Adventure, TV Dramas',
       'Children & Family Movies, Music & Musicals', 'Music & Musicals',
       'Action & Adventure, International Movies, Music & Musicals',
       'Comedies, Sports Movies', 'Classic Movies, Thrillers',
       'Docuseries, Reality TV', 'Crime TV Shows, TV Dramas, TV Horror',
       'Crime TV Shows, TV Comedies, TV Dramas',
       'British TV Shows, Docuseries, Reality TV',
       'Reality TV, Science & Nature TV, TV Action & Adventure',
       'Children & Family Movies, Documentaries, International Movies',
       'Crime TV Shows, Romantic TV Shows, TV Dramas',
       'British TV Shows, Docuseries',
       'Documentaries, LGBTQ Movies, Music & Musicals',
       'Romantic TV Shows, TV Dramas', 'Independent Movies, Thrillers',
       'International TV Shows, TV Action & Adventure, TV Horror',
       'Children & Family Movies, Documentaries, Sports Movies',
       'Stand-Up Comedy & Talk Shows, TV Mysteries, TV Sci-Fi & Fantasy',
       'International TV Shows, Reality TV, TV Comedies',
       'Dramas, International Movies, LGBTQ Movies',
       'Action & Adventure, Dramas, Independent Movies',
       'British TV Shows, International TV Shows, TV Dramas',
       'TV Action & Adventure, TV Dramas, TV Sci-Fi & Fantasy',
       'TV Action & Adventure, TV Dramas, TV Horror',
       'Action & Adventure, Anime Features, Sci-Fi & Fantasy',
       'Anime Series', 'TV Dramas, TV Mysteries, TV Thrillers',
       'Music & Musicals, Stand-Up Comedy',
       'Docuseries, International TV Shows, Spanish-Language TV Shows',
       'Crime TV Shows, International TV Shows, Reality TV',
       "British TV Shows, Kids' TV",
       'Docuseries, Spanish-Language TV Shows',
       'Crime TV Shows, TV Dramas, TV Thrillers',
       'Documentaries, International Movies, LGBTQ Movies',
       'British TV Shows, Crime TV Shows, International TV Shows',
       'Action & Adventure, Independent Movies',
       'Classic Movies, Dramas, Romantic Movies',
       'Crime TV Shows, Romantic TV Shows, Spanish-Language TV Shows',
       'Children & Family Movies, Comedies, Dramas',
       'Cult Movies, Horror Movies', "Kids' TV, TV Thrillers",
       'Classic Movies, Cult Movies, Horror Movies',
       'Anime Series, Crime TV Shows, TV Thrillers',
       'Anime Series, TV Horror, TV Thrillers', 'Classic Movies, Dramas',
       'British TV Shows, Crime TV Shows, Docuseries',
       'Action & Adventure, International Movies, Thrillers',
       'Anime Series, Teen TV Shows',
       'Children & Family Movies, Dramas, International Movies',
       'Dramas, Faith & Spirituality, International Movies',
       'TV Horror, TV Mysteries, Teen TV Shows',
       'Children & Family Movies, Classic Movies',
       'TV Dramas, TV Sci-Fi & Fantasy', 'Reality TV, Teen TV Shows',
       'Docuseries, Reality TV, Teen TV Shows',
       'Classic & Cult TV, TV Comedies',
       'International TV Shows, Korean TV Shows, Reality TV',
       'International TV Shows, Stand-Up Comedy & Talk Shows, TV Comedies',
       'British TV Shows, International TV Shows, Romantic TV Shows',
       'International TV Shows, TV Dramas, TV Thrillers', 'Anime Features',
       'TV Horror, TV Mysteries, TV Sci-Fi & Fantasy',
       'Children & Family Movies, Classic Movies, Comedies',
       'Comedies, Faith & Spirituality, Romantic Movies',
       'Classic Movies, Comedies, International Movies',
       'Action & Adventure, Horror Movies, Sci-Fi & Fantasy',
       'Action & Adventure, Classic Movies',
       'TV Dramas, TV Sci-Fi & Fantasy, TV Thrillers',
       'Comedies, Sci-Fi & Fantasy',
       'Action & Adventure, Cult Movies, Dramas',
       'TV Action & Adventure, TV Dramas', "Kids' TV, Korean TV Shows",
       'Action & Adventure, Independent Movies, International Movies',
       'Dramas, Faith & Spirituality, Independent Movies',
       'Docuseries, TV Comedies',
       'Documentaries, Faith & Spirituality, Music & Musicals',
       'Romantic TV Shows, TV Comedies',
       "Kids' TV, Spanish-Language TV Shows",
       "British TV Shows, Kids' TV, TV Thrillers",
       'Action & Adventure, Romantic Movies',
       'British TV Shows, Classic & Cult TV, TV Comedies',
       'Action & Adventure, Horror Movies, International Movies',
       'Children & Family Movies, Documentaries',
       "British TV Shows, Kids' TV, TV Comedies",
       'Horror Movies, Independent Movies, Sci-Fi & Fantasy',
       'TV Sci-Fi & Fantasy, TV Thrillers',
       'Romantic TV Shows, TV Comedies, TV Dramas',
       'Reality TV, Romantic TV Shows',
       'Classic Movies, Dramas, Independent Movies',
       'Romantic TV Shows, TV Dramas, Teen TV Shows',
       'TV Action & Adventure, TV Sci-Fi & Fantasy',
       'British TV Shows, TV Horror, TV Thrillers',
       'International Movies, Sports Movies', 'International Movies',
       'Anime Series, International TV Shows, TV Horror',
       'International TV Shows', 'Dramas, Music & Musicals, Sports Movies',
       'International TV Shows, Spanish-Language TV Shows, TV Action & Adventure',
       'Cult Movies, Dramas, International Movies',
       'TV Action & Adventure, TV Comedies, TV Sci-Fi & Fantasy',
       'Reality TV, Science & Nature TV',
       'Action & Adventure, Anime Features, Children & Family Movies',
       "Kids' TV, TV Action & Adventure",
       'Children & Family Movies, Sci-Fi & Fantasy',
       "Crime TV Shows, Kids' TV",
       'International Movies, Music & Musicals, Thrillers',
       'Crime TV Shows, Spanish-Language TV Shows, TV Action & Adventure',
       "Classic & Cult TV, Kids' TV, Spanish-Language TV Shows",
       'Romantic TV Shows, Spanish-Language TV Shows, TV Dramas',
       'Action & Adventure, Cult Movies, International Movies',
       'Crime TV Shows, Spanish-Language TV Shows, TV Dramas',
       'Action & Adventure, Children & Family Movies, Dramas',
       'Dramas, Romantic Movies, Sci-Fi & Fantasy',
       'Action & Adventure, Dramas, Sci-Fi & Fantasy',
       'International TV Shows, TV Mysteries, TV Thrillers',
       'Anime Series, International TV Shows, TV Thrillers',
       'Horror Movies, International Movies, Sci-Fi & Fantasy',
       'Comedies, Cult Movies, International Movies',
       'Comedies, Music & Musicals, Romantic Movies',
       'Children & Family Movies, Comedies, Faith & Spirituality',
       'Crime TV Shows, Docuseries, TV Mysteries',
       'Crime TV Shows, Docuseries, Science & Nature TV',
       'British TV Shows, Crime TV Shows, TV Dramas',
       'Classic Movies, Comedies, Cult Movies',
       'International Movies, Romantic Movies, Thrillers',
       'Classic Movies, Dramas, Music & Musicals',
       'Cult Movies, Horror Movies, Thrillers',
       'Anime Features, Romantic Movies',
       'Comedies, Dramas, Music & Musicals',
       'Anime Features, International Movies, Romantic Movies',
       'Documentaries, Faith & Spirituality, International Movies',
       'Action & Adventure, Classic Movies, Sci-Fi & Fantasy',
       'International TV Shows, Stand-Up Comedy & Talk Shows',
       "British TV Shows, Kids' TV, TV Dramas",
       'Classic & Cult TV, TV Action & Adventure, TV Horror',
       'Children & Family Movies, Dramas, Faith & Spirituality',
       'TV Action & Adventure, TV Comedies',
       'Action & Adventure, Anime Features, Horror Movies',
       'Crime TV Shows, International TV Shows, Romantic TV Shows',
       'Classic Movies, Comedies, Music & Musicals',
       'Comedies, Horror Movies, International Movies',
       "Kids' TV, Spanish-Language TV Shows, Teen TV Shows",
       'Independent Movies',
       'Crime TV Shows, International TV Shows, TV Mysteries',
       'Action & Adventure, Thrillers',
       "Kids' TV, TV Dramas, Teen TV Shows",
       'Anime Series, Crime TV Shows', "Kids' TV, TV Dramas",
       'Crime TV Shows, TV Action & Adventure, TV Comedies',
       'TV Comedies, Teen TV Shows', 'Reality TV, TV Horror, TV Thrillers',
       'Documentaries, Horror Movies',
       'Classic & Cult TV, TV Horror, TV Mysteries',
       'Action & Adventure, Cult Movies, Sci-Fi & Fantasy',
       'Anime Series, International TV Shows, Romantic TV Shows',
       'Action & Adventure, Comedies, Romantic Movies',
       'Comedies, Dramas, Faith & Spirituality',
       'Comedies, Faith & Spirituality, International Movies',
       'Romantic Movies', 'Dramas, Horror Movies, Sci-Fi & Fantasy',
       'International TV Shows, Korean TV Shows, TV Comedies',
       'Comedies, Independent Movies, LGBTQ Movies',
       'TV Comedies, TV Dramas, TV Sci-Fi & Fantasy',
       'Dramas, Music & Musicals',
       'Dramas, Faith & Spirituality, Romantic Movies',
       'International TV Shows, TV Action & Adventure, TV Sci-Fi & Fantasy',
       'Reality TV, TV Comedies',
       "Docuseries, Kids' TV, Science & Nature TV",
       'Action & Adventure, Sci-Fi & Fantasy, Thrillers',
       'Action & Adventure, Children & Family Movies, Sci-Fi & Fantasy',
       'Action & Adventure, Children & Family Movies, Classic Movies',
       'Horror Movies, International Movies, Romantic Movies',
       'TV Action & Adventure', 'TV Comedies, TV Dramas, TV Horror',
       'British TV Shows, International TV Shows, Stand-Up Comedy & Talk Shows',
       'Dramas, Music & Musicals, Sci-Fi & Fantasy',
       'Spanish-Language TV Shows, TV Dramas',
       'Documentaries, Stand-Up Comedy',
       'Classic & Cult TV, TV Action & Adventure, TV Dramas',
       'British TV Shows, TV Dramas, TV Sci-Fi & Fantasy',
       'Anime Features, Music & Musicals',
       'International TV Shows, TV Comedies, TV Sci-Fi & Fantasy',
       'Comedies, Independent Movies, Romantic Movies',
       'Comedies, Cult Movies, Horror Movies',
       'Comedies, Cult Movies, Sports Movies',
       'Classic Movies, Documentaries', 'Sci-Fi & Fantasy, Thrillers',
       'Classic & Cult TV, Crime TV Shows, International TV Shows',
       "Kids' TV, Korean TV Shows, TV Comedies",
       'British TV Shows, Romantic TV Shows, TV Dramas',
       'Action & Adventure, Faith & Spirituality, Sci-Fi & Fantasy',
       'TV Dramas, TV Sci-Fi & Fantasy, Teen TV Shows',
       'Action & Adventure, Children & Family Movies',
       'Comedies, Horror Movies, Independent Movies',
       'Action & Adventure, Classic Movies, Cult Movies',
       'TV Dramas, TV Horror, TV Mysteries',
       'International Movies, Romantic Movies, Sci-Fi & Fantasy',
       'Anime Series, Romantic TV Shows, Teen TV Shows',
       'TV Action & Adventure, TV Horror, TV Sci-Fi & Fantasy',
       'Anime Features, Music & Musicals, Sci-Fi & Fantasy',

In [48]:
movies['description'].unique()

array([ 'In a future where the elite inhabit an island paradise far from the crowded slums, you get one chance to join the 3% saved from squalor.',
       'After a devastating earthquake hits Mexico City, trapped survivors from all walks of life wait to be rescued while trying desperately to stay alive.',
       "When an army recruit is found dead, his fellow soldiers are forced to confront a terrifying secret that's haunting their jungle island training camp.",
       ...,
       "In this documentary, South African rapper Nasty C hits the stage and streets of Tokyo, introducing himself to the city's sights, sounds and culture.",
       'Dessert wizard Adriano Zumbo looks for the next “Willy Wonka” in this tense competition that finds skilled amateurs competing for a $100,000 prize.',
       'This documentary delves into the mystique behind the blues-rock trio and explores how the enigmatic band created their iconic look and sound.'], dtype=object)

In [49]:
movies['duration'].unique()

array(['4 Seasons', '93 min', '78 min', '80 min', '123 min', '1 Season',
       '95 min', '119 min', '118 min', '143 min', '103 min', '89 min',
       '91 min', '149 min', '144 min', '124 min', '87 min', '110 min',
       '128 min', '117 min', '100 min', '2 Seasons', '84 min', '99 min',
       '90 min', '102 min', '104 min', '105 min', '56 min', '125 min',
       '81 min', '97 min', '106 min', '107 min', '109 min', '44 min',
       '75 min', '101 min', '3 Seasons', '37 min', '113 min', '114 min',
       '130 min', '94 min', '140 min', '135 min', '82 min', '70 min',
       '121 min', '92 min', '164 min', '53 min', '83 min', '116 min',
       '86 min', '120 min', '96 min', '126 min', '129 min', '77 min',
       '137 min', '148 min', '28 min', '122 min', '176 min', '85 min',
       '22 min', '68 min', '111 min', '29 min', '142 min', '168 min',
       '21 min', '59 min', '20 min', '98 min', '108 min', '76 min',
       '26 min', '156 min', '30 min', '57 min', '150 min', '133 min',
       '115 min', '154 min', '127 min', '146 min', '136 min', '88 min',
       '131 min', '24 min', '112 min', '74 min', '63 min', '38 min',
       '25 min', '174 min', '60 min', '153 min', '158 min', '151 min',
       '162 min', '54 min', '51 min', '69 min', '64 min', '147 min',
       '42 min', '79 min', '5 Seasons', '40 min', '45 min', '172 min',
       '10 min', '163 min', '9 Seasons', '55 min', '72 min', '61 min',
       '71 min', '160 min', '171 min', '48 min', '139 min', '157 min',
       '15 min', '65 min', '134 min', '161 min', '62 min', '8 Seasons',
       '186 min', '49 min', '73 min', '58 min', '165 min', '166 min',
       '138 min', '159 min', '141 min', '132 min', '52 min', '67 min',
       '34 min', '66 min', '312 min', '180 min', '47 min', '6 Seasons',
       '155 min', '14 min', '177 min', '11 min', '9 min', '46 min',
       '145 min', '11 Seasons', '7 Seasons', '13 Seasons', '8 min',
       '12 min', '12 Seasons', '10 Seasons', '43 min', '50 min', '23 min',
       '185 min', '200 min', '169 min', '27 min', '170 min', '196 min',
       '33 min', '181 min', '204 min', '32 min', '35 min', '167 min',
       '16 Seasons', '179 min', '193 min', '13 min', '214 min', '17 min',
       '173 min', '192 min', '209 min', '187 min', '41 min', '182 min',
       '224 min', '233 min', '189 min', '152 min', '19 min', '15 Seasons',
       '208 min', '237 min', '31 min', '178 min', '230 min', '194 min',
       '228 min', '195 min', '3 min', '16 min', '5 min', '18 min',
       '205 min', '190 min', '36 min', '201 min', '253 min', '203 min',
       '191 min'], dtype=object)